<script type="text/javascript">
  (function() {
    const operators = [
      {v:"eq",t:"==",kind:'V'},
      {v:"neq",t:"!=",kind:'V'},
      {v:"lt",t:"<",kind:'V'},
      {v:"lte",t:"<=",kind:'V'},
      {v:"gt",t:">",kind:'V'},
      {v:"gte",t:">=",kind:'V'}
    ];

    RED.nodes.registerType('custom-rules', {
      color: "#E2D96E",
      category: 'Custom Rule',
      defaults: {
        name: {value:""},
        rules: { value:[{ p: "", pt: "msg", t: "eq", v: "", vt: "str" }] },
        outputs: { value: 1 }
      },
      inputs: 1,
      outputs: 1,
      label: function() { return this.name || "custom-rules"; },
      oneditprepare: function() {
        let node = this;
        let previousValueType = { value:"prev",label: this._("custom-rules.previous"), hasValue:false };

        $("#node-input-rule-container").css('min-height','150px').css('min-width', '450px').editableList({
          addItem: function(container,i,opt) {
            if (!opt.hasOwnProperty('r')) { opt.r = {}; }
            let rule = opt.r;
            if (!rule.hasOwnProperty('t')) { rule.t = 'eq'; }
            if (!opt.hasOwnProperty('i')) { opt._i = Math.floor((0x99999-0x10000)*Math.random()).toString(); }
            container.css({
              overflow: 'hidden',
              whiteSpace: 'nowrap'
            });

            let row = $('<div/>').appendTo(container);
            let selectField = $('<select/>',{style:"width:60px; margin-left: 5px; text-align: center;"})
            let group0 = $('<optgroup/>', { label: "value rules" }).appendTo(selectField);
            for (let d in operators) {
              if(operators[d].kind === 'V') {
                group0.append($("<option></option>").val(operators[d].v).text(/^custom-rules/.test(operators[d].t)?node._(operators[d].t):operators[d].t));
              }
            }

            function createPropertyField(){
              return $('<input/>',{class:"node-input-property-value",type:"text",style:"margin-left: 5px;"}).css("width","40%").appendTo(row).typedInput({default:'msg',types:['msg']});
            }

            function createValueField(){
              return $('<input/>',{class:"node-input-rule-value",type:"text",style:"margin-left: 5px;"}).css("width","calc(54% - 60px)").appendTo(row).typedInput({default:'str',types:['str', 'num']});
            }

            let valueField = null;
            let propertyField = null;
            selectField.on("change", function() {
              let type = selectField.val();
              if (valueField){ valueField.typedInput('hide'); }
              else { 
                propertyField = createPropertyField();
                selectField.appendTo(row);
                valueField = createValueField(); 
              }
              propertyField.typedInput('show');
              valueField.typedInput('show');
            });
            selectField.val(rule.t);

            if (typeof rule.v != "undefined") {
              if (!valueField) {
                propertyField = createPropertyField();
                selectField.appendTo(row);
                valueField = createValueField(); 
              }
              propertyField.typedInput('value',rule.p);
              propertyField.typedInput('type',rule.pt||'msg');
              valueField.typedInput('value',rule.v);
              valueField.typedInput('type',rule.vt||'str');
            }
            selectField.change();
          },

          removeItem: function(opt) {
            let rules = $("#node-input-rule-container").editableList('items');
            
            rules.each(function(i) {
              $(this).find(".node-input-rule-index").html(i+1);
              let data = $(this).data('data');
            });
          },

          sortItems: function() {
            let rules = $("#node-input-rule-container").editableList('items');
            rules.each(function(i) {
              $(this).find(".node-input-rule-index").html(i+1);
              let data = $(this).data('data');
            });
          },
          sortable: true,
          removable: true
        });

        for (var i=0;i<this.rules.length;i++) {
          var rule = this.rules[i];
          $("#node-input-rule-container").editableList('addItem',{r:rule,i:i});
        }
      },

      oneditsave: function() {
        let rules = $("#node-input-rule-container").editableList('items');
        let node = this;
        node.rules = [];
        rules.each(function(i) {
          let ruleData = $(this).data('data');
          let rule = $(this);
          let type = rule.find("select").val();
          let r = {t:type};
          r.p = rule.find(".node-input-property-value").typedInput('value');
          r.pt = rule.find(".node-input-property-value").typedInput('type');
          r.v = rule.find(".node-input-rule-value").typedInput('value');
          r.vt = rule.find(".node-input-rule-value").typedInput('type');
          node.rules.push(r);
        });
      },

      oneditresize: function(size) {
          let rows = $("#dialog-form>div:not(.node-input-rule-container-row)");
          let height = size.height;
          for (let i=0;i<rows.length;i++) {
              height -= $(rows[i]).outerHeight(true);
          }
          let editorRow = $("#dialog-form>div.node-input-rule-container-row");
          height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
          height += 16;
          $("#node-input-rule-container").editableList('height',height);
      }
    });
  })();
</script>

<script type="text/html" data-template-name="custom-rules">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name </label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <input type="hidden" id="node-input-outputs"/>
  </div>
  <div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
  </div>
</script>